![{{ track_name }}](../track_maps/{{ track_name }}.png)

# {{ track_name }}

{% for corner in corners %}
## Corner {{ corner.number }}: {{ corner.name }}
**Notes:** {{ corner.notes }}

**Braking Reference:** {{ corner.braking_reference }}

**Corner Entry Notes:** {{ corner.corner_entry_notes }}

**Exit Notes:** {{ corner.exit_notes }}

{% endfor %}
